<!DOCTYPE html>
<html lang="en">
    {{>header}}
<body>
    {{>navbar}}
    <ul>
        <li> <a href="/">home</a> </li>
        <br>
        <li> <a href="/login">login</a> </li>
        <br>
        <li> <a href="/register">register</a> </li>

    </ul>

</body>
</html>